src/main/resources/META-INF/schema/trpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>  
<xsd:schema xmlns="http://test.hatter.me/schema/test"  
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
	targetNamespace="http://www.tamk.com/schema/trpc">

	<xsd:element name="provider" type"providerType" />
	<xsd:complexType name="providerType">
		<xsd:attribute name="scan-packages" type="xsd:stirng" />
		<xsd:attribute name="autowired" type="xsd:string" />
	</xsd:complexType>

	<xsd:element name="annotation-consumer" />

</xsd:schema>